[submodule "vendor/Silex"]
	path = vendor/Silex
	url = https://github.com/fabpot/Silex.git
[submodule "vendor/Pimple"]
	path = vendor/Pimple
	url = https://github.com/fabpot/Pimple.git
[submodule "vendor/Symfony"]
	path = vendor/Symfony
	url = https://github.com/symfony/symfony.git
[submodule "vendor/Twig"]
	path = vendor/Twig
	url = https://github.com/fabpot/Twig.git
[submodule "web/css/blueprint-css"]
	path = web/css/blueprint-css
	url = http://github.com/joshuaclayton/blueprint-css.git
